html, body {
    margin: 0;
    height: 80%;
}

.vertical-center {
  margin-top: 20%;
}

.btn-primary {
    color: #fff;
    background-color: #D6702B;
    border-color: #D6702B;
}


.btn-primary:hover{
    background-color: #D6702B;
    border-color: #D6702B;
}
.btn-primary{
    background-color: #D6702B;
    border-color: #D6702B;
}
