<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,  user-scalable=no">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href='{% static "module3/css/bootstrap.css" %}' rel="stylesheet">
    <link href='{% static "module2/css/sweetalert2.min.css" %}' rel="stylesheet">
    <script src='{% static "module2/js/jquery-3.3.1.min.js" %}'></script>
    <script src='{% static "module2/js/sweetalert2.min.js" %}'></script>
    <!-- Custom styles for this template -->

    <link href='{% static "main/css/main_css.css" %}' rel="stylesheet">
    <script src='{% static "module3/js/index.js" %}'></script>
    <link href='{% static "module3/css/index.css" %}' rel="stylesheet">
</head>

<body class="text-center">
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <h3 id="default">Coloque la tarjeta de votación en el espacio rotulado como "colocar tarjeta". </h3>
            <h3>Introduzca el DNI con el número hacia abajo de forma que sea el número de DNI lo primero en entrar en la ranura. </h3>
            <h3>Pulse el botón "Automático" para inciar el proceso de obtención.</h3>

        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <a href="{% url 'module3:reconocimiento'  %}"><button id="iniciar" type="button" class="btn btn-primary btn-lg" onclick="leyendo();ocr()"> Automático </button></a>
        </div>
    </div>

    <hr class="half-rule"/>



    <div class="row align-items-center">
        <div class="col">
            <h3 id="default2">Coloque la tarjeta de votación en el espacio rotulado como "colocar tarjeta".</h3>
            <h3 id="default2">Para introducir el número de identificación (DNI/NIE) de manera manual pulse el botón "Manual".</h3>

        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <a href="{% url 'module3:manual'  %}">
                <button id="teclado" type="button" class="btn btn-primary btn-lg" onclick="leyendo()"> Manual </button>
            </a>
        </div>
    </div>
</div>
</body>
<script src='{% static "main/js/jquery-3.3.1.min.js" %}'></script>
<script src='{% static "main/js/main.js" %}'></script>
</html>
